<table class='table table-bordered　table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>平均評価</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% games.each do |game| %>
      <tr>
        <td style='width: 10%'>
          <%= image_tag game.get_game_image, size:'100x100' %>
        </td>
        <td>
          <p>
          <%= link_to admin_game_path(game), class: "text-light" do %>
            <u><%= game.name %></u>
          <% end %>
          </p>
          <p>発売日:<% game.release_date %></p>
        </td>
        <td style='width: 20%'>rate</td>
        <td style='width: 20%'>btn</td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="mx-auto"><%= paginate games %></div>