<div class='container'>
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">ゲーム一覧(新着順)</h4>
    </div>
    <div class="ml-auto">
      <%= link_to "＋ゲームの登録", new_game_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">サイドバー</div>
    <div class="col-md-9">
      <%= render "index", games: @games %>
    </div>
  </div>
</div>
