<div class="container py-5" style='background-color: #000066;'>
  <div class="row">
    <div class='mx-auto main_text'>
      <h2 class="text-white m-2">
        ようこそ、Game R&Sへ</br>
        このサイトは、ゲームのレビューサイトになります。</br>
        会員でない方もレビューの閲覧はできますが、</br>
        投稿には会員登録が必要になります。
      </h2>
    </div>
  </div>
</div>
