<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<div id="star"></div>
<script type="text/javascript">
  $('#star').raty({
    readOnly: true,
    number: 10,
    score: 8,
    hints: [1,2,3,4,5,6,7,8,9,10],
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: false
  });
</script>
