<div class="container">
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">タグ一覧・削除</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 ml-5">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="text-center">タグ</th>
            <th style="width: 40%"></th>
          </tr>
        </thead>
        <tbody id="admin_tags_index">
          <%= render 'index', tags: @tags %>
        </tbody>
      </table>
    </div>
  </div>
</div>
