<div class='container'>
  <%= render "public/shared/back", link: game_threads_path(@game.id), text: "スレッド一覧(#{@game.title})" %>
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">スレッド新規登録</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 mx-auto">
  	  <%= render 'layouts/errors', obj: @thread %>
  	  <h5><strong><%= @game.title %></strong>のスレッドを作成する</h5>
  	  <%= render 'form', thread: @thread, game: @game %>
    </div>
  </div>
</div>
