<footer class="text-white mt-2 py-4" style='background-color: #0A0A0A;'>
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<span>CopyRight GameR&S.inc</span>
    	</div>
    </div>
  </div>
</footer>
