<footer class="bg-secondary text-white mt-2 py-4">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<span>CopyRight GameR&S.inc</span>
    	</div>
    </div>
  </div>
</footer>